.hero-connections{

position:absolute;

right:170px;

top:190px;

width:120px;

height:480px;

pointer-events:none;

z-index:15;

}

.connect-line{

position:absolute;

height:1px;

width:70px;

border-top:2px dashed rgba(80,155,158,.4);

}

.connect-line::after{

content:"";

position:absolute;

right:-8px;

top:-5px;

width:10px;

height:10px;

border-radius:50%;

background:#509b9e;

box-shadow:

0 0 12px #509b9e;

animation:

pulseDot 2s infinite;

}

.one{

top:35px;

}

.two{

top:165px;

}

.three{

top:300px;

}

.four{

top:435px;

}

@keyframes pulseDot{

0%{

transform:scale(1);

}

50%{

transform:scale(1.7);

}

100%{

transform:scale(1);

}

}