.heroStatsWrapper{

position:absolute;

right:70px;

bottom:30px;

display:grid;

grid-template-columns:repeat(2,180px);

gap:22px;

z-index:8;

pointer-events:none;

}

/* -------------------- */

.heroStatCard{

position:relative;

height:180px;

padding:28px;

display:flex;

flex-direction:column;

justify-content:flex-start;

background:rgba(255,255,255,.82);

backdrop-filter:blur(18px);

border-radius:28px;

border:1px solid rgba(255,255,255,.8);

overflow:hidden;

box-shadow:
0 35px 60px rgba(0,0,0,.08),
0 12px 25px rgba(0,0,0,.04),
inset 0 1px 0 rgba(255,255,255,.9);

transform:
perspective(1200px)
rotateX(7deg);

transition:.35s;

}

.heroStatCard:hover{

transform:
translateY(-8px)
perspective(1200px)
rotateX(0deg)
scale(1.02);

box-shadow:
0 45px 90px rgba(0,0,0,.12);

}

/* -------------------- */

.heroStatIcon{

width:52px;

height:52px;

font-size:20px;

border-radius:14px;

display:flex;

align-items:center;

justify-content:center;

margin-bottom:22px;

flex-shrink:0;

}

/* -------------------- */

.heroStatContent{

display:flex;

flex-direction:column;

gap:1px;

z-index:2;

position:relative;

}

.heroStatContent h4{

margin:2px 0 2px;

font-size:1rem;

font-weight:600;

color:#22343f;

}

.heroStatContent p{

margin:0;

font-size:0.65rem;

line-height:1.5;

color:#7d8a94;

}

/* -------------------- */

.heroStatGlow{

position:absolute;

right:-60px;

bottom:-60px;

width:160px;

height:160px;

border-radius:50%;

opacity:.08;

filter:blur(24px);

z-index:0;

}
}

/* -------------------- */

@media(max-width:1400px){

.heroStatsWrapper{

right:30px;

bottom:30px;

grid-template-columns:repeat(2,200px);

}

.heroStatCard{

height:165px;

}

}

@media(max-width:1200px){

.heroStatsWrapper{

display:none;

}

}